/* Header Section Styles */

/* Nav Section Styles */
nav{
    display: flex;
    justify-content: space-between;  
}
.nav-title{
    color: rgb(13, 19, 33);
    font-size: 30px;
    font-weight: 700;
    margin-left: 162px;
    margin-top: 50px;
}
.nav-btn{
    width: 180px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    margin-right: 230px;
    margin-top: 45px;
    background-color: white;
}

/* Header Banner Section Styles */
.banner{
    /* width: 1400px; */
    height: 640px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    margin-left: 35px;
    margin-top: 40px;
}
.banner-img{
    margin-left: 578px;
    margin-top: 30px;
}
.banner-title{
    font-size: 50px;
    font-weight: 700;
    margin-left: 375px;
}
.line-space{
    margin-left: 98px;
}
.banner-description{
    color: #505458;
    width: 670px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 355px;
}
.banner-btn{
    color: white;
    width: 148px;
    height: 43px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    background-color: black;
    margin-left: 610px;
    margin-top: 12px;
    
}
/* Main Section Styles */
/* How To Become a Web Development Section Styles */
.main-sec-title, .My-inspiration-sec-title, .current-target-sec-title{
    font-size: 30px;
    font-weight: 800;
    margin-left: 455px;
    margin-top: 150px;
}
.line-space-2{
    margin-left: 80px;
}
.main-sec-description, .inspiration-sec-description, .current-target-sec-description{
    color: #505458;
    width: 500px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 505px;
}
.line-space-3{
    margin-left: 60px;
}

/* Second Section */
/* What Is Web Development Section */
.web-deb-sec , .web-deb-sec2, .web-deb-sec3{
    display: flex;
    justify-content: space-evenly;
}
.main-sec-title2, .main-sec-title3, .main-sec-title4{
    color: rgb(56, 59, 65);
    font-size: 25px;
    font-weight: 700;
}
.main-sec-description2, .main-sec-description3, .main-sec-description4{
    width: 500px;
    color: #505458;
    font-size: 15px;
    font-weight: 400;
}
.main-sec-btn, .main-sec-btn2, .main-sec-btn3{
    color: rgb(56, 59, 65);
    width: 115px;
    height: 33px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
}
.main-sec-img{
    margin-right: 40px;
}

/* Become A Web Development Section Styles */
.web-deb-sec2 , .web-deb-sec3{
    margin-top: 100px;
}

/* My Inspiration Section Styles */
.My-inspiration-sec-title{
    margin-left: 650px;
}
.inspiration-sec-description{
    width: 600px;
    margin-left: 445px;
}
.line-space-4{
    margin-left: 43px;
}
.video{
    margin-left: 380px;
    margin-top: 30px;
    border-radius: 10px;
}

/* My Current Target Section Styles */
.current-target-sec-title{
    margin-left: 550px;
}
.current-target-sec-description{
    width: 750px;
    margin-left: 355px;
}
/* Card Section Styles */
.card-sec{
    display: flex;
    justify-content: center;
    gap: 30px;
}
/* Card1 Styles */
.card1, .card2, .card3{
    width: 350px;
    height: 300px;
    background-color: rgb(255, 231, 194);
    border-radius: 10px;
}
.card-img1, .card-img2, .card-img3{
    margin-left: 30px;
    margin-top: 50px;
}
.card-title1, .card-title2, .card-title3{
    font-size: 20px;
    font-weight: 800;
    margin-left: 30px;
}
.card-description1, .card-description2, .card-description3{
    color: #424649;
    font-size: 15px;
    font-weight: 400;
    margin-left: 30px;
}
.card-anchor1, .card-anchor2, .card-anchor3{
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-left: 30px;
}
/* Card2 Styles */
.card2{
    background-color: rgb(144, 192, 255);
}
/* Card3 Styles */
.card3{
    background-color: rgb(255, 247, 131);
}

/*  Learning Resources Section Styles */
.learning-resources-sec-img{
    width: 1110px;
    height: 350px;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 80px;
}
.learning-resources-sec{
    position: relative;
    text-align: center;
}
.learning-resorces-title{
    color: white;
    font-size: 28px;
    font-weight: 700;
    position: absolute;
    top: 150px;
    right: 650px;
}
.learning-resorces-description{
    color: #eef5ff;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 220px;
    right: 255px;
}
.input-filled, .input-btn{
    width: 410px;
    height: 40px;
    border: none;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    top: 300px;
    right: 680px;
}
.input-btn{
    width: 110px;
    right: 560px;
    font-size: 18px;
    font-weight: 400;
}